# RAG App
APP_PORT=8000

# RAG Development
DEV_PORT=8000

# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_URL=postgresql+asyncpg://user:password@postgres:5432/db

# Qdrant
QDRANT_URL=
QDRANT_API_KEY=

# Cloudflare R2
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=

# Redis Commander
REDIS_COMMANDER_PORT=8081

# Adminer
ADMINER_PORT=8080
